@import "./config.scss";

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: $text-color;
  background-color: #f5f7fa;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: $text-color;
}
ul,
li {
  list-style: none;
}
input {
  font: normal;
}
input:focus,
a:focus {
  outline: none;
}
button {
  outline: none !important;
}
